<% title "Log in" %>

<p>Don't have an account? Send an email with your inquiry to <a href="mailto:thomas@eve-images.com" title="send email">thomas@eve-images.com</a></p>
<br/>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
<br/>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
<br/>
  <p><%= submit_tag "Log in" %></p>
<% end %>
