<% content_for(:head) do %>
 <%= stylesheet_link_tag 'jquery-ui-1.8.12.custom', :cache => true %>
 <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min', :cache => true %>
 <%= javascript_include_tag 'autocomplete-rails', :cache => true %>
 <script type="text/javascript" charset="utf-8">
 	$(function (){  
        $('#hour_date').datepicker();  
    });
 </script>
<% end %>
<p>User: <%= @hour.new_record? ? "#{current_user.name}" : "#{@hour.user.name}" %>
<%= form_for @hour do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date, :value => (@hour.new_record? ? @date : @hour.date.to_s ) %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %> hours
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_area :task %>
  </p>
  <p>

    <%= f.check_box :extra %>    <%= f.label :extra %>&nbsp;&nbsp;&nbsp;
   <%= f.check_box :holiday %>    <%= f.label :holiday %>
  </p>

  <p> 
	<%= f.hidden_field :user_id, :value => (@hour.new_record? ? current_user.id : @hour.user_id ) %>
  </p>
  <p>
    <%= f.label :project_name %><br />
    <%= f.hidden_field :project_id, :id => "real_project_id" %>
   <% if @hour.new_record? %>
     <%= autocomplete_field_tag 'fake_project', '',
     autocomplete_project_name_hours_path, :update_elements => {:id => '#real_project_id' } %>
   <% else %>
		<%= "#{@hour.project.name}"%>
   <% end %>

  <br />
  </p>
  <p>
    <%= f.label :work_category %><br />
<%= collection_select(:hour, :work_category_id, WorkCategory.all, :id, :name, :prompt => "choose..") %>
  </p>
  <p><%= f.submit %></p>
<br/>
<% end %>
<br/>
<%= link_to "delete record", @hour, :confirm => 'Are you sure?', :method => :delete %>
<br/>