<% content_for(:head) do %>
 <%= stylesheet_link_tag 'jquery-ui-1.8.12.custom', :cache => true %>
 <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min', :cache => true %>
 <%= javascript_include_tag 'autocomplete-rails', :cache => true %>
 <script type="text/javascript" charset="utf-8">
 	$(function (){  
        $('#hour_date').datepicker({ dateFormat: 'yy-mm-dd' });  

		$('#hour_holiday').click(function () {
			if ($(this).is(':checked')) {
				if(confirm("Make this day holiday (your input might be overwritten) ?")) {
					$('#hour_amount').val("8");
					$('#fake_project').val("000 - Urlaub");
					$('#real_project_id').val("36");
					$('#hour_task').val("Holiday");
					$('#hour_work_category_id option').eq(7).attr('selected', 'selected');
				}
			}
		});
		$('#hour_krank').click(function () {
			if ($(this).is(':checked')) {
				if(confirm("Were you ill this day? (your input might be overwritten) ?")) {
					$('#hour_amount').val("8");
					$('#fake_project').val("001 - Krank");
					$('#real_project_id').val("37");
					$('#hour_task').val("Krank");
					$('#hour_work_category_id option').eq(7).attr('selected', 'selected');
				}
			}
		});
		$('#hour_feiertag').click(function () {
			if ($(this).is(':checked')) {
				if(confirm("Was this day vacation (Feiertag) ? (your input might be overwritten) ?")) {
					$('#hour_amount').val("8");
					$('#fake_project').val("010 - Feiertag");
					$('#real_project_id').val("57");
					$('#hour_task').val("Feiertag");
					$('#hour_work_category_id option').eq(7).attr('selected', 'selected');
				}
			}
		});

    });
 </script>
<% end %>
<p style="margin: 20px 0 0 120px">User: <%= @hour.new_record? ? "#{current_user.name}" : "#{@hour.user.name}" %></p>
<br/>
<%= simple_form_for @hour do |f| %>
  <%= f.error_messages %>
<br/>  
    <%= f.label :date %>
    <%= f.text_field :date, :value => (@hour.new_record? ? @date : @hour.date.to_s ), :size => 20 %>
  <br />
<br/>
  
    <%= f.input :amount, :label => "Hours", :hint => "how many hours did you work?" %>
 
    <%= f.input :task, :label => "Task(s)", :hint => "what did you do?" %>

    <%= f.input :extra %>   
   <%= f.input :holiday %>   
	<%= check_box_tag :hour_krank %>  
	<%= check_box_tag :hour_feiertag %>  
	<%= f.hidden_field :user_id, :value => (@hour.new_record? ? current_user.id : @hour.user_id ) %>
  
    <%= f.label "* Project Name" %>
    <%= f.hidden_field :project_id, :id => "real_project_id" %>

   <% if @hour.new_record? %>
	 <div class="input text required">
      <%= autocomplete_field_tag 'fake_project', '',
      autocomplete_project_name_hours_path, :update_elements => {:id => '#real_project_id'}, :class => "required" %>
	  <span class="hint">Field will autocomplete, type project_nr. or name and choose</span>
	 </div>
   <% else %>
		<%= link_to "#{@hour.project.project_nr} - #{@hour.project.name}", @hour.project %><br/>
		<span class="hint">Project is locked in edit mode</span>
   <% end %>

 <br />
<div class="select required">
    <%= f.label "* Work Category" %>
<%= collection_select(:hour, :work_category_id, WorkCategory.all, :id, :name, :required => "required", :prompt => "choose..", :class => "select required") %>
<span class="hint">What kind of work you were doing?</span>
</div>
   <br />
  <p><%= f.submit %></p>
<br/>
<% end %>
<br/>
<% unless @hour.new_record? %>
<%= link_to "delete record", @hour, :confirm => 'Are you sure?', :method => :delete %>
<% end %>