<% title "Time Tracking" %>

<script type="text/javascript" charset="utf-8">
	$(function () {
		$('#calendar ul.task_list').each(function () {
			if ( $(this).children().size() > 0 ) {
				$(this).parent().parent().addClass("filled_out");
				$(this).parent().parent().find('.total').addClass('green');
			}
			
		});
		$("#hour_user_id").change ( function () {
		  window.location.replace('/hours?user_id='+$(this).val()+'&view_mode=<%= params[:view_mode] %>');
		});
		
	})
</script>

<% # seperate between list and calendar view %>

<% if params[:view_mode] == "list" %>

	<div id="calendar" class="list_view">
		<b>list view</b> &nbsp; <%= link_to "calendar view", :view_mode => "calendar" %>
		<h3 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :view_mode => "list" %>
	    <%=h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d"), :view_mode => "list" %>
	  </h3>
		
		<table class="hours">
			<tr>
				<th> Date </th>
				<th> Hours </th>
				<th> Tasks </th>
			</tr>
		<% total_month_hours = 0 %>
		<% dates = [] %>
		<% for hour in @hours %>
			<% if hour.date.strftime("%m") == @date.strftime("%m") %>
		   	    <% day = hour.date %>
				<% user = hour.user_id %>
		   	    <% daily_hours = same_day_hours(day, user) %>
		   	    
		   	    <% unless dates.include?(hour.date.strftime("%Y-%m-%d")) %>		
		   	    	<tr>
		   	    		<td> <%= hour.date.strftime("%Y-%m-%d") %></td>
		   	    		
		   	    		<td> <%= daily_hours.to_a.sum { |hour| hour.amount } %></td>
		   	    		<td> 
		   	    			<% for dh in daily_hours %>
		   	    			<%= "#{dh.task} (#{dh.amount} hrs, #{dh.project.name})"%>
							<br/>
							<% total_month_hours += dh.amount %>
							<% end %>
		   	    		</td>
		   	    	</tr>
		   	    
		   	    	<% dates << hour.date.strftime("%Y-%m-%d") %>
		   	    <% end %>
			<% end %>
		<% end %>
		<tr>
			<td class="total">
				Total hours for  <%=h @date.strftime("%B %Y") %>
			</td>
			<td class="total" colspan="2">
				<%= total_month_hours %>
			</td>
		</table>
		<br/>
		<ul id="calendar_stats">
				<% if current_user.admin? || current_user.controller? %>
					<li> Show User: 
					<%= collection_select(:hour, :user_id, User.order("name"), :id, :name, {:prompt => "select user", :selected => session[:hour_user_id] }) %>
					</li>
					<% if params[:user_id] %>
					<% end %>
				<% end %>
		</ul>
		<br/>		
		
	</div>	
	
<% else %>
	
	<% # hours_month counts the actual hours someone worked this month %>
	<% # hours_needed = workdays of the month * 8, no weekends %>
	<% hours_month = 0 %>
	<% hours_needed = 0 %>
	<div id="calendar">
	<b>calendar view</b> &nbsp; <%= link_to "list view", :view_mode => "list" %>
	  <h3 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
	    <%=h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	  </h3>
	  <% calendar_for @hours, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
	    <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
	    <% calendar.day(:day_method => :date) do |date, hours| %>
		
	      <div>
	      <%= date.day %>
	
		<% # sum of all days inside the month except weekends is 'hours_needed' %>
	      <% if ((date.strftime("%m") == @date.strftime("%m")) && (["Mon", "Tue", "Wed", "Thu", "Fri"].include? date.strftime("%a"))) %>
	      	<% hours_needed += 8 %>
		  <% end %>
		  <% if hours %>
		  <% total = 0.0 %>
	      <ul class="task_list">
	        <% for hour in hours %>
	          		<% if hour.project %>
					<li><%= link_to "#{h(hour.amount)}h #{h(hour.project.name.to_s)}", edit_hour_path(hour),:title => "edit" %></li>
					<% else %>
					<li><%= "#{h(hour.amount)}h deleted project" %></li>
					<% end %>
	          	<% total += hour.amount %>
			    <% if (date.strftime("%m") == @date.strftime("%m")) %>	
				  <% hours_month += hour.amount %>
				<% end %>
			  <% end %>
	      </ul>
		  <span class="total"><%= total %>h</span>
		  <span class="add" title="add hours"><%= link_to image_tag("new_el.gif", :border => 0 ), :controller => :hours, :action => :new, :date => date %> </span>
		<% end %>
		</div>
	    <% end %>
	  <% end %>
	</div>
	<% # display statistic overview and selector for user hours (if current_user == admin || current_user == controller ) %>
	<ul id="calendar_stats">
			<% uberstunden = hours_month - hours_needed %>
			<li><%= hours_month %> of <%= hours_needed %> hours total for <%=h @date.strftime("%B %Y") %> <i>(<%= uberstunden %> Überstunden) </i></li>
			<% if current_user.admin? || current_user.controller? %>
				<li> Show User: 
				<%= collection_select(:hour, :user_id, User.order("name"), :id, :name, {:prompt => "select user", :selected => session[:hour_user_id] }) %>
				</li>
				<% if params[:user_id] %>

				<% end %>
			<% end %>
	</ul>
	<br/>
	</div>
	
<% end%>