<% title "Hours" %>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Task</th>
    <th>Extra</th>
    <th>User</th>
    <th>Project</th>
    <th>Part</th>
  </tr>
  <% for hour in @hours %>
    <tr>
      <td><%= hour.date %></td>
      <td><%= hour.amount %> hours</td>
      <td><%= hour.task %></td>
      <td><% if hour.extra? %>
			yes
		<% else %>
			no
		<% end %>
	 </td>
      <td><%= hour.user.name %></td>
      <td><%= hour.project.name %></td>
      <td><%= hour.work_category.name %></td>
	 <% if hour.user == current_user || current_user.admin? %>
      <td><%= link_to "Edit", edit_hour_path(hour) %></td>
      <td><%= link_to "Delete", hour, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Hour", new_hour_path(hour) %></p>
