<% title "Time Tracking" %>

<script type="text/javascript" charset="utf-8">
	$(function () {
		$('#calendar ul.task_list').each(function () {
			if ( $(this).children().size() > 0 ) {
				$(this).parent().parent().addClass("filled_out");
				$(this).parent().parent().find('.total').addClass('green');
			}
			
		})
	})
</script>
<% hours_month = 0 %>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <% calendar_for @hours, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
    <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
    <% calendar.day(:day_method => :date) do |date, hours| %>
	
      <div>
      <%= date.day %>
	  <span class="total"></span>
	  <% if hours %>
	  <% total = 0.0 %>
      <ul class="task_list">
        <% for hour in hours %>
		  <% if hour.user.id == current_user.id || current_user.admin? %>
          	<li><%= link_to "#{h(hour.amount)}h #{h(hour.project.name)}", edit_hour_path(hour),:title => "edit" %></li>
          	<% total += hour.amount %>
			<% hours_month += hour.amount %>
		  <% end %>
        <% end %>
      </ul>
	  <span class="total"><%= total %>h</span>
	  <span class="add" title="add hours"><%= link_to image_tag("new_el.gif", :border => 0 ), :controller => :hours, :action => :new, :date => date %> </span>
	<% end %>
	</div>
    <% end %>
  <% end %>
</div>

<ul id="calendar_stats">
		<li><%= hours_month %> hours total in <%=h @date.strftime("%B %Y") %></li>
	</ul>
</div>