<% title "Hours" %>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Task</th>
    <th>Extra</th>
    <th>User</th>
    <th>Project</th>
    <th>Part</th>
  </tr>
  <% for hour in @hours %>
    <tr>
      <td><%= hour.date %></td>
      <td><%= hour.amount %></td>
      <td><%= hour.task %></td>
      <td><%= hour.extra %></td>
      <td><%= hour.user_id %></td>
      <td><%= hour.project_id %></td>
      <td><%= hour.work_category_id %></td>
      <td><%= link_to "Show", hour %></td>
      <td><%= link_to "Edit", edit_hour_path(hour) %></td>
      <td><%= link_to "Destroy", hour, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Hour", new_hour_path(hour) %></p>
