<% title "Time Tracking" %>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <% calendar_for @hours, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :date) do |date, hours| %>
      <%= date.day %>
      <ul>
        <% for hour in hours %>
          <li><%= link_to "#{h(hour.amount)}h #{h(hour.project.name)}", hour %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>