<% title "Time Tracking" %>

<script type="text/javascript" charset="utf-8">
	$(function () {
		$('#calendar ul.task_list').each(function () {
			if ( $(this).children().size() > 0 ) {
				$(this).parent().parent().addClass("filled_out");
				$(this).parent().parent().find('.total').addClass('green');
			}
			
		})
	})
</script>
<% hours_month = 0 %>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
<% hours_needed = 0 %>
  <% calendar_for @hours, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
    <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
    <% calendar.day(:day_method => :date) do |date, hours| %>
	
      <div>
      <%= date.day %>
      <% if (date.strftime("%m") == @date.strftime("%m")) && (["Mon", "Tue", "Wed", "Thu", "Fri"].include? date.strftime("%a"))%>
      	<% hours_needed += 8 %>
	  <% end %>
	  <span class="total"></span>
	  <% if hours %>
	  <% total = 0.0 %>
      <ul class="task_list">
        <% for hour in hours %>
		  
          		<% if hour.project %>
				<li><%= link_to "#{h(hour.amount)}h #{h(hour.project.name.to_s)}", edit_hour_path(hour),:title => "edit" %></li>
				<% else %>
				<li><%= "#{h(hour.amount)}h deleted project" %></li>
				<% end %>
          	<% total += hour.amount %>
			<% hours_month += hour.amount %>
		  <% end %>
       
      </ul>
	  <span class="total"><%= total %>h</span>
	  <span class="add" title="add hours"><%= link_to image_tag("new_el.gif", :border => 0 ), :controller => :hours, :action => :new, :date => date %> </span>
	<% end %>
	</div>
    <% end %>
  <% end %>
</div>

<ul id="calendar_stats">
		<li><%= hours_month %> / <%= hours_needed %> hours total in <%=h @date.strftime("%B %Y") %></li>
		<% if current_user.admin? %>
			<li> Show User: 
			<%= collection_select(:hour, :user_id, User.all, :id, :name, {:prompt => "select user"}, {:onchange => "#{remote_function(:url => {:controller => 'hours', :action => "index"}, :with => "'user_id='+value")}"}) %>
			</li>
			<li> Show Project: 
			<%= select_tag(:project_id, options_for_select([['all', ''], ['Bukkespranget', '1'], ['Ivo', '2'], ['Horst', '3']])) %>
			</li>
		<% end %>
	</ul>
</div>