<% title "Current Assignments" %>

<table class="pretty">
  <tr>
    <th>User</th>
    <th>Projects</th>
  </tr>  
<% for user in @users %>
    <tr class="<%= cycle('white','grey')-%>">
  		<td><%= user.username %></td>

         <td> <ul>
  <% for assignment in user.assignments %>
    
    <li>
		<%= link_to assignment.project.name, assignment.project %>
	    <%= link_to image_tag("settings.png", :border => 0), edit_assignment_path(assignment), :title => "edit", :class => "icon" %>
    	  <%= link_to image_tag("delete.png", :border => 0), assignment, 
			:confirm => 'Are you sure that you want to delete this assignment?',
			 :method => :delete, :title => "delete", :class => "icon"%>
	
	</li>

  <% end %> 

	</ul>
	
<% end %>                                 
      
</table>

<p><%= link_to "New Assignment", new_assignment_path(assignment) %></p>
