<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>E-Mail</th>
    <th>Current Projects</th>
  </tr>
  <% for user in @users %>
    <tr class="<%= cycle('white','grey')-%>">
      <td><%= user.username %></td>
      <td><%= user.company %></td>
      <td><%= user.email %></td>
      <td><ul><% for project in user.projects %>
		<li><%= link_to "#{project.name}", project %>
		<% end %></td>
		</ul>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path(user) %></p>
