<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>E-Mail</th>
    <th>Current Projects</th>
  </tr>
  <% for user in @users %>
    <tr class="<%= cycle('white','grey')-%>">
      <td><%= user.name %></td>
      <td><%= user.company %></td>
      <td><%= user.email %></td>
      <td><ul><% for project in user.projects %>
		<li><%= link_to "#{project.project_nr} - #{project.name}", project, :title => project.name %>
		<% end %></td>
		</ul>    
      <td><%= link_to "Show", user %></td>
	  <% if current_user.admin? || current_user == @user %>
      <td><%= link_to "Edit", edit_user_path(user) %></td> 
	  <% end %>
	  <% if current_user.admin?%>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% end %>
    </tr>
  <% end %>
</table>


