<% title @user.name %> 

<table class="pretty">
	<tr>
		<th>Name</th> 
		<th>Works at</th> 
		<th>E-Mail</th> 
		<th>Member since</th> 						
	</tr>
	<tr>
		<td><%= @user.name %></td>
		<td><%= @user.company %> </td>
		<td><%= link_to @user.email %></td>
		<td><%= @user.created_at.to_date() %> </td>						
	 </tr>
</table>
  <br/>
<%= @user.name %> uploaded <i><%= pluralize(@user.images.count, "image") %>  </i>
and posted <i><%= pluralize(@user.comments.count, "comment") %></i>
</p>
<br/>
<br/>

<% if current_user == @user || current_user.admin? %>

<div id="hours_overview">
	<table>
		<tr>
			<th>
				Monat
			</th>
			<th>
				Stunden
			</th>
			<th>
				Überstunden
			</th>
			<th>
				Urlaubstage
			</th>	
			<th>
				Krakheitstage
			</th>
		</tr>
		<% summe_stunden = 0 %>
		<% summe_ueberstunden = 0 %>
		<% summe_urlaub = 0 %>
		<% summe_krank = 0 %>
	<% (1..12).each do |month| %>
		<tr>
			<td>
				<% d = Date.new(2011, month) %>
				<%= d.strftime('%B') %>
			</td>
			<td>
				<%=  @user.monthly_hours month %>
				<% summe_stunden += @user.monthly_hours month %>
			</td>
			<td>
				<%=  @user.extra_hours month %>
				<% summe_ueberstunden += @user.extra_hours month %>
			</td>
			<td>
				<%= @user.monthly_holidays month %>
				<% summe_urlaub += @user.monthly_holidays month %>
			</td>
			<td>
				<%= @user.monthly_illdays month %>
				<% summe_krank += @user.monthly_illdays month %>
			</td>
		</tr>
	<% end %>
	<tr>
		<td>
			<b>
				Summe
			</b>
		</td>
		<td>
			<b>
			<%= summe_stunden %>
			</b>
		</td>
		<td>
			<b>
			<%= summe_ueberstunden %>
			</b>
		</td>
		<td>
			<b>
			<%= summe_urlaub %>
			</b>
		</td>
		<td>
			<b>
			<%= summe_krank %>
			</b>
		</td>
	</tr>
		
	</table>
	
</div>




<br/><br/>


	
	<span class="edit" title="edit profile"><%= link_to image_tag("user_add.png", :border => 0 ), :controller => :people, :action => :edit, :user => @user.id, :client => @user.client_id %> </span>
		<span class="edit" title="edit profile"><%= link_to "edit profile", :controller => :people, :action => :edit, :user => @user.id, :client => @user.client_id %> </span>

<% end %>

<br/>
<% if current_user.accountant? %>
	<h2>Accounting</h2>
<p>	This User costs <%= number_to_currency(@user.hourly_rate, :unit => "€ ")%> per hour. <br/>
	You can change this value here.<br/><br/>
</p>
	<% form_for @user do |f| %>
	<%= f.label :hourly_rate, "hourly rate" %>
    <%= f.text_field :hourly_rate, :size => 3 %>€ <br/>
	<%= f.submit %>
	<% end %>
<% end %>
