<% title "Clients" %>
<div class="searchform">
<%= form_for @search do |f| %>  
  <p>   
   <%= f.text_field :name_contains, :size => 20 %>  <%= f.submit "Search" %>
  </p>  
<% end %>
</div>
<table>
  <tr>
    <th>Short Name</th>
	<th>Full Name</th>
    <th>Contacts</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%= client.name %></td>
	  <td><%= client.full_name %></td>
      <td>
		<ul>
		<% for person in client.people %>
			<li><%= link_to person.full_name, person %></li>
	    <% end %>
		</ul>
		<span class="add" title="add contact"><%= link_to image_tag("user_add.png", :border => 0 ), :controller => :people, :action => :new, :client => client.id %> </span>
	  </td>
      <td><%= link_to "Show", client %></td>
	  <% if current_user.admin? || current_user.project_manager? %>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
      <td><%= link_to "Destroy", client, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>


<p><%= link_to "New Client", new_client_path(client) %></p>
