<% title "Clients" %>
<div class="searchform">
<%= form_for @search do |f| %>  
  <p>   
   <%= f.text_field :name_contains, :size => 20 %>  <%= f.submit "Search" %>
  </p>  
<% end %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Contact Person</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.contact_person %></td>
      <td><%= client.phone %></td>
      <td><%= client.email %></td>
      <td><%= link_to "Show", client %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
      <td><%= link_to "Destroy", client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


<p><%= link_to "New Client", new_client_path(client) %></p>
