<% title "Client" %>

<p>
  <strong>Short Name:</strong>
  <%= @client.name %>
</p>
<p>
  <strong>Full Name:</strong>
  <%= @client.full_name %>
</p>
<p>
  <strong>Contacts:</strong>
	<ul>
	<% for person in @client.people %>
		<li><%= link_to person.full_name, person %></li>
    <% end %>
	</ul>
</p>


<p>
  <%= link_to "Edit", edit_client_path(@client) %> |
  <%= link_to "Destroy", @client, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", clients_path %>
</p>
