<%= form_for @plan_hour do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :work_category_id %><br />
    <%= f.text_field :work_category_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
