<% title "Image Feedbacker - Home" %> 
<br/>

<h2>Your projects, <%= current_user.username %> </h2>
<% if current_user.projects.count > 0 %>
<table class="projects">
	<tr>
		<th>Project Name</th>
		<th>Started at</th>
		<th>Ends at</th>
	</tr>
<% @projects.each do |p| %>
	<tr>
			<td><%= "#{p.name}" %></td>
			<td><%= "#{p.started_at.to_formatted_s(:short)}" %></td>
			<td><%= "#{p.ends_at.to_formatted_s(:short)}" %></td>			
			<td><%= link_to "details", p %></td>
	<tr>
<% end -%>      
</table>
<% else %>
	no projects yet
<% end %>
<br/>
<h2>Newest Images</h2> 

<div class="newest_images">
  
<% for image in @latest_images  do %> 
    <%= link_to image_tag(image.rendering.url(:thumb), :border => 0 ), image, :title => image.name %>
<% end %>  
</div>