<%= simple_form_for @project do |f| %>  
  <%= f.error_messages %>  
  <%= f.association :client %>
  <%= f.input :project_nr %> 
  <%= f.input :name %>  
  <div class="input string optional">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description,  :class => "mceEditor" %>
  </div>
  <div class="input string optional">
    <%= f.label :user_tokens, "Currently Assigned" %>
    <%= f.text_field :user_tokens,  "data-pre" =>  @project.users.map(&:attributes).to_json %>
  </div>
  <%= f.button :submit %>  
<% end %>

