<% title "Projects" %>

<table>
  <tr>
	<th><%= sortable  "Project_Nr"%></th>
    <th><%= sortable  "Client"%></th>
    <th><%= sortable  "Name"%></th>
  </tr>
  <% for project in @projects %>
    <tr class="<%= cycle('white','grey')-%>">
      <td><%= project.project_nr %></td>
      <td><%= project.client.name if project.client %></td>
      <td><%= project.name %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>     
	  <% if current_user.admin? %>
      <td><%= link_to "Delete", project, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path(project) %></p>
