<% title "Projects" %>

<div class="searchform">
<%= form_for @search do |f| %>  
  <p>   
   <%= f.text_field :name_or_project_nr_contains, :size => 20 %>  <%= f.submit "Search" %>
  </p>  
<% end %>
</div>

<table>
  <tr>
	<th><%= "Project_Nr"%></th>
    <th><%= "Client"%></th>
    <th><%= "Name"%></th>
  </tr>
  <% for project in @projects %>
    <tr class="<%= cycle('white','grey')-%>">
      <td><%= project.project_nr %></td>
      <td><%= project.client.name if project.client %></td>
      <td><%= project.name %></td>
      <td><%= link_to "Show", project %></td>
	  <% if current_user.admin? || current_user.project_manager? %>
	  <td><%= link_to "Edit", edit_project_path(project) %></td> 
     <% end %>
	<% if current_user.admin? %>
      <td><%= link_to "Delete", project, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% end %>
    </tr>
  <% end %>
</table>



<p><%= link_to "New Project", new_project_path(project) %></p>
