<% title "#{@project.project_nr} #{@project.name}" %>
<table>
	<tr width="600">
		<th>Project Infos</th>
	</tr>
	<tr>
		<td><%= sanitize @project.description %></td>
	</tr>
</table>
<br/>  

<table>
	<tr>
		<th>Currently involved</th>
	</tr>
	<tr>
		<td><ul>
		<% for user in @project.users do %>
			<li><%= link_to "#{user.name}", user %></li>			
		<% end %>
		</ul></td>
	</tr>
</table>
<br/> 
<div class="plan_hours">
  <h2>Plan Hours</h2>
  <h4 id="plan_hours_count"><%= pluralize(@project.plan_hours.count, "position") %></h4>
  <div id="plan_hours">
	<% for ph in  @project.plan_hours %>
	 <div class="plan_hour">
		<span class="hours_amout"><%= ph.amount %> hours <span>
		<span class="hours_category"><%= ph.work_category.name %><span>
	 </div>
	<% end%>
  </div>

<br/>
<% form_for [@project, PlanHour.new], :remote => true  do |f| %>
  <p class="add_plan_hours">

    <%= f.hidden_field :project_id, :value => @project.id %>
    <%= f.label :amount, "hours (plan)" %><br />
    <%= f.text_field :amount, :size => 5 %>
	<%= f.collection_select :work_category_id, WorkCategory.all, :id, :name %>  
  </p>

  <p>
    <%= f.submit "Add plan hours" %>
  </p>
<% end %>
</div>
<br/>
<table class="project_image_table">
	<tr>
		<th>Project Images</th>
	</tr>
	<tr>
		<td>
		<% for image in @project.images do %>
			<%= link_to image_tag(image.rendering.url(:thumb), :border => 0), image %>
		<% end %>
		</td>
	</tr>
</table>
<br/>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Delete Project", @project, :confirm => 'Are you sure?', :method => :destroy %> |
  <%= link_to "All Projects", projects_path %>
</p>
                         
<br/>
<br/>
<p>
	<%= link_to "go back", :back %>
</p>