<% title "#{@project.project_nr}-#{@project.name}" %>




<table>
	<tr width="600">
		<th>Project Infos</th>
	</tr>
	<tr>
		<td><%= sanitize @project.description %></td>
	</tr>
</table>
<br/>  

<table>
	<tr>
		<th>Currently involved</th>
	</tr>
	<tr>
		<td><ul>
		<% for user in @project.users do %>
			<li><%= link_to "#{user.name}", user %></li>			
		<% end %>
		</ul></td>
	</tr>
</table>
<br/> 
<table class="project_image_table">
	<tr>
		<th>Project Images</th>
	</tr>
	<tr>
		<td>
		<% for image in @project.images do %>
			<%= link_to image_tag(image.rendering.url(:thumb), :border => 0), image %>
		<% end %>
		</td>
	</tr>
</table>
<br/>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Delete Project", @project, :confirm => 'Are you sure?', :method => :destroy %> |
  <%= link_to "All Projects", projects_path %>
</p>
                         
<br/>
<br/>
<p>
	<%= link_to "go back", :back %>
</p>