<% title "#{@project.project_nr} #{@project.name}" %>

<% content_for(:head) do %>
<%= javascript_include_tag "highcharts", :cache => true %>

<script type="text/javascript" charset="utf-8">  
var planhrs = 0;
  $(function () {
	
	$('#planhoursshowhide').click(function () {
		planhrsShowHide();
	})
	  
    new Highcharts.Chart({  
      chart: { renderTo: 'hours_chart' },  
	    title: { text: <%= "'Hours for #{@project.project_nr} #{@project.name}'" %> },  
	    xAxis: { 
			type: 'datetime' 
		},  
	    yAxis: {  
	      title: { text: 'Hours acc.'}  
	    },  
	 series: [{ 
		  name: "hours spent",
	      pointInterval: <%= 1.day * 1000 %>,  
	      pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,  
	      data: <%= (3.weeks.ago.to_date..Date.today).map { |date| @project.hours_on(date).to_f}.inspect %>
	    },
	 	{ 
		  name: "plan hours left",
		  pointInterval: <%= 1.day * 1000 %>,  
		  pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,  
		  data: <%= (3.weeks.ago.to_date..Date.today).map { |date| @project.plan_hours_left(date).to_f}.inspect %>
		}
	]
    });  
  });  
</script>

<% end %>

<div id="hours_chart" style="position:absolute; top: 40px; right: 20px; width: 660px; height: 380px;">
	
	
</div>  
<table>
	<tr width="600">
		<th>Project Infos</th>
	</tr>
	<tr>
		<td><%= sanitize @project.description %></td>
	</tr>
</table>
<br/>  

<table>
	<tr>
		<th>Currently involved</th>
	</tr>
	<tr>
		<td><ul>
		<% for user in @project.users do %>
			<li><%= link_to "#{user.name}", user %></li>			
		<% end %>
		</ul></td>
	</tr>
</table>
<br/> 
<div class="plan_hours">
  <h2>Plan Hours</h2>
  <h4 id="plan_hours_count"><%= pluralize(@project.plan_hours.count, "position") %></h4>
  <div id="plan_hours">
	<%= render @project.plan_hours %>
  </div>
<% if current_user.admin? %>
<br/>
<a id="planhoursshowhide" href="#">add plan hours</a>
<div id="plan_hours_show_hide">
<% form_for [@project, PlanHour.new], :remote => true  do |f| %>
  <p class="add_plan_hours">

    <%= f.hidden_field :project_id, :value => @project.id %>
    <%= f.label :amount, "hours (plan)" %><br />
    <%= f.text_field :amount, :size => 5 %>
	<%= f.collection_select :work_category_id, WorkCategory.all, :id, :name %>  
  </p>

  <p>
    <%= f.submit "Add plan hours" %>
  </p>
<% end %>
</div>
<% end %>
</div>
<br/>
  <h2>Images</h2>
<br/>
	<div>
		<% if @project.images.count > 0 %>
		<% for image in @project.images do %>
			<%= link_to image_tag(image.rendering.url(:thumb), :border => 0, :alt => image.name), image, :title => image.name %>
		<% end %>
		<% else %>
		 <p>No images have been uploaded yet</p>
		<% end %>
	</div>
<br/>

  <h2>Real Hours</h2>
<br/>
<table class="project_hours_table">
	<tr>
		<th>User</th><th>Hours</th>
	</tr>

		<% for user in @users do %>
	     <% user_hours = @project.total_hours(user) %>
	   	    <% if user_hours > 0 %>
	   	    <tr>
	   	    	<td>
	   	    		<%= user.name %>
	   	    	</td>
	   	    	<td>
	   	    		<%= user_hours %>
	   	    	</td>
	   	    </tr>
	   	   <% end %>
		<% end %>
		<tr>
			<td>
				<b><i>total</i></b> 
			</td>
			<td>
				<b><i><%= @project.total_hours %></i></b> 
			</td>
		</tr>
</table>
<br/>
<table class="project_hours_table">
	<tr>
		<th>Category</th><th>Hours</th>
	</tr>
			<% for cat in @categories do %>
		     <% cat_hours = @project.category_hours(cat) %>
		   	    <% if cat_hours > 0 %>
		   	    <tr>
		   	    	<td>
		   	    		<%= cat.name %>
		   	    	</td>
		   	    	<td>
		   	    		<%= cat_hours %>
		   	    	</td>
		   	    </tr>
		   	   <% end %>
			<% end %>
			<tr>
				<td>
					<b><i>total</i></b> 
				</td>
				<td>
					<b><i><%= @project.total_hours %></i></b> 
				</td>
			</tr>
</table>
<br/>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Delete Project", @project, :confirm => "Are you sure that you want to delete #{@project.name} with all its images?", :method => :destroy %> |
  <%= link_to "All Projects", projects_path %>
</p>
                         
<br/>
<br/>
<p>
	<%= link_to "go back", :back %>
</p>