<p id="new_answer" class="add_answer">
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :question_id, :value => q %>
  <%= f.label :content, "your answer" %><br />
  <%= f.text_area :content, :rows => 3, :cols => 25 %>
</p>

<p>
  <%= f.submit "Answer" %>
</p>