<%= form_for images_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :uploaded_at %><br />
    <%= f.datetime_select :uploaded_at %>
  </p>
  <p><%= f.submit %></p>
<% end %>
