<% form_for @image,  :html=>{:multipart=>true} do |f| %> 
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project_id %><br />

	<% if params[:project] %>
	
    <%= collection_select(:image, :project_id, Project.order('project_nr asc'), :id, :name_number, :selected => params[:project]) %>

	<% else %>
	
	   <%= collection_select(:image, :project_id, Project.order('project_nr asc'), :id, :name_number, :prompt => true) %>
	
	<% end %>
  </p>
  <div class="field">
	<p>
	<%= f.label :rendering %><br />
  	<%= f.file_field :rendering%>
	</p>
  </div>
  <p> 
	<%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
