<% title "Edit Image" %>

<% form_for @image,  :html=>{:multipart=>true} do |f| %> 
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= collection_select(:image, :project_id, Project.all, :id, :name, :prompt => true) %>
  </p>  
  <p>
    <%=link_to image_tag(@image.rendering.url(:thumb), :border => 0 ), @image, :title => @image.name %>    
  </p>
  <div class="field">
	<p>
	<%= f.label :rendering %><br />
  	<%= f.file_field :rendering%>
	</p>
  </div>
  <p><%= f.submit %></p> 

<% end %>
<br/>
<p>
	<%= link_to "go back", :back %>
</p>