<% title "Images" %>

<table>
  <tr>
	<th>Preview</th>
    <th><%=sortable "Name" %></th>
    <th><%=sortable "project_id", "Project" %></th>
    <th><%=sortable "created_at", "Uploaded" %></th> 
    <th>Comments</th> 
  </tr>
  <% for image in @images %>
    <tr class="<%= cycle('white','grey')-%>">           
	  <td> 
	   	<% if image.rendering.exists? then %>
	       	<%= link_to image_tag(image.rendering.url(:thumb), :border => 0 ), image, :title => image.name %>
		<% else %> 
			not available
	   	<% end %>

	   </td>
      <td><%= image.name %></td>
      <td><%= image.project.name if image.project %></td>
      <td><%= image.created_at.to_formatted_s(:long) %></td>
	  <td><%= pluralize(image.comments.count, "comment") %></td>                                          
	  <td><%= link_to "View", image %></td>     
	  <% if image.user == current_user || current_user.admin? %>
      <td><%= link_to "Edit", edit_image_path(image) %></td>  
      <td><%= link_to "Delete", image, :confirm => 'Delete this image?', :method => :delete %></td>
	   
	<% end %>
    </tr>
  <% end %>
</table>
 <%= will_paginate @images %> 
<%= page_entries_info @images %>
 
<p><%= link_to "New Image", new_image_path(image) %></p>
