<% title "Images" %>

<table>
  <tr>
	<th>Preview</th>
    <th><%=sortable "Name" %></th>
    <th><%=sortable "Project" %></th>
    <th><%=sortable "uploaded_at", "Uploaded" %></th>
  </tr>
  <% for image in @images %>
    <tr>           
	  <td> 
	   	<% if image.rendering.exists? then %>
	       	<%= image_tag image.rendering.url(:thumb) %>
		<% else %> 
			not available
	   	<% end %>

	   </td>
      <td><%= image.name %></td>
      <td><%= image.project.name %></td>
      <td><%= image.uploaded_at.to_formatted_s(:long) %></td>                     
	  <td><%= link_to "View", image %></td>
      <td><%= link_to "Edit", edit_image_path(image) %></td>
      <td><%= link_to "Delete", image, :confirm => 'Delete this image?', :method => :destroy %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Image", new_image_path(image) %></p>
