<% title "#{@image.project.name} | #{@image.name}" %>

 <div class="basic_image">
<br/> 
 	<% if @image.rendering.exists? then %>
     	<%= image_tag @image.rendering.url, :width => "850" %>
	<% else %> 
		not available
 	<% end %>
 <br/>       
<table class="pretty">
	<tr>
	<th>Uploaded</th>
	<th>Uploader</th>
	<th>Project</th>
	<th>Status</th> 
	<th>Revision</th> 
 	<th>HQ</th> 
	 </tr>
	<tr>
	 <td><%= @image.created_at.to_formatted_s(:long) %></td>
	 <td><%= link_to @image.user.username, @image.user %></td>
	 <td><%= link_to @image.project.name, @image.project %></td>
	 <td>to do</td>
	<td>to do</td> 
	<td><%= link_to "Show / Download", @image.rendering.url %></td>
	</tr>		
 </table>          
</div> 
<div class="newest_images"> 
     <table>
		<tr><th>Other Images of <%= @image.project.name %></th></tr>
		<tr>
		   <td> 
			
	<% for img in @image.project.images do %> 
		   <% if img!= @image %>
	      	<%= link_to image_tag(img.rendering.url(:thumb), :border => 0 ), img, :title => img.name %>
		   <% end %> 
	<% end %> 
	
			</td>
	   </tr>
   </table>
</div>
<div class="comments">
<h2><%= pluralize(@image.comments.count, "comment") %></h2>
<% for comment in @image.comments.order("created_at desc") do  %>
  <p>
    <b><%= link_to comment.user.username, comment.user %> </b>wrote 
    <%= time_ago_in_words(comment.created_at) %> ago:
  </p>

  <p>
    <%=h comment.body %>
  </p>
<% end %>

<% form_for [@image, Comment.new] do |f| %>
  <p class="add_comment">

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :image_id, :value => @image.id %>
    <%= f.label :body, "leave a comment" %><br />
    <%= f.text_area :body, :rows => 5, :cols => 25 %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>
</div>
<br/>
<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Delete Image", @image, :confirm => 'Are you sure?', :method => :destroy %> |
  <%= link_to "All Images", images_path %>
</p>
                         
<br/>
<p>
	<%= link_to "go back", :back %>
</p>