<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "eve logR - #{yield(:title)}" : "Untitled" %></title>
    <%= stylesheet_link_tag "application", "feedbacker", 'token-input-facebook' %>   
	<%= include_tiny_mce_if_needed %>
	    <%= javascript_include_tag 'jquery', 'rails', 'rails.validations', 'application', 'nested_form' %>
    <%= csrf_meta_tag %>
	<%= favicon_link_tag %>
    <%= yield(:head) %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
	<div class="wrapper">
		<div class="header">
	
				<div class="user_navigation">
		   			<% if logged_in? %>
	       			  Welcome <%= link_to current_user.name, current_user %>! Not you?
	       			  <%= link_to "Log out", logout_path %>
	       			<% else %>
	       			  <%= link_to "Log in", login_path %>
	       			<% end %>
				</div>
	
				<div id="logo"><%= image_tag ('logo.jpg') %></div>
				<div class="news"></div>
		
		</div> <!--  end header -->
	<div class="main">
		<div class="left_side">
		<div id="logr"><%= link_to image_tag('logr_beta.png'), root_path %></div>
		<% if session[:user_id] %>
			<ul class="main_navi">
			<li class="<%= "active" if params[:controller] == "home"%>"><%= link_to "Home", root_path, :title => "home" %></li>
			<li class="<%= "active" if params[:controller] == "projects" %>"><%= link_to "Projects", projects_path, :title => "Projects" %></li>
			<li class="<%= "active" if params[:controller] == "clients" %>"><%= link_to "Clients", clients_path, :title => "Clients" %></li>
			
			<li class="<%= "active" if params[:controller] == "images" %>"><%= link_to "Images", images_path, :title => "Images" %></li>
			<li class="<%= "active" if params[:controller] == "users" %>"><%= link_to "Users", users_path, :title => "Users"  %></li>
			<li class="<%= "active" if params[:controller] == "hours" %>">
			<%= link_to "Time Tracking", hours_path, :title => "Time tracking" %>
			</li>
			<li class="<%= "active" if params[:controller] == "chat_messages" %>"><%= link_to "Lounge", chat_path %></li>
			<li></li>
			<% if can? :update, [KeyData] %>
			<li class="<%= "active" if params[:controller] == "key_datas" %>"><%= link_to "Accounting", accounting_path %></li>
			<% end %>
			</ul>
		<% end %>
		</div>
		<div class="right_side">
			<div id="container">
		      <% flash.each do |name, msg| %>
		        <%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <% end %>
		      <%= content_tag :h1, yield(:title) if show_title? %>
		      <%= yield %>
		    </div>
		</div>

	</div> <!--  end main -->

	</div> <!--  end wrapper -->
	
  </body>
</html>
